nav {
  background-image: url("../images/bg-hero-desktop.svg");
  height: 100vh;
}
nav .nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em 0;
}
nav .nav__content .nav__button button {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 2em;
  background-color: white;
  color: black;
  font-size: larger;
  font-weight: bold;
}
nav .hero__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
nav .hero__section .h1 {
  font-size: 2rem;
  font-weight: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav .hero__section .p1 {
  font-size: large;
}
nav .hero__section .button {
  padding: 2em;
  margin-top: 2em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 4em;
  background-color: hsl(322, 100%, 66%);
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}